<div class="container">
  <h4 class="text-center text-primary my-4">Edit customer information</h4>
  <form class="container mx-auto" [formGroup]="editCustomerForm" (ngSubmit)="editCustomerSubmit()">
    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" for="code">Customer Code</label>
      <input type="text" id="code" class="form-control" formControlName="code"/>
    </div>
    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.code.hasError('required') && editCustomerForm.controls.code.touched" >Trường này là bắt buộc</p>
      <p *ngIf="editCustomerForm.controls.code.hasError('pattern') && editCustomerForm.controls.code.touched" >Mã khách hàng sai định dạng</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label">Name</label>
      <input type="text"  class="form-control" formControlName="name"/>

    </div>

    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.name.hasError('required') && editCustomerForm.controls.name.touched" >Trường này là bắt buộc</p>
      <p *ngIf="editCustomerForm.controls.name.hasError('pattern') && editCustomerForm.controls.name.touched" >Tên khách hàng sai định dạng</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Email</label>
      <input type="text" class="form-control" formControlName="email"/>
    </div>

    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.email.hasError('required') && editCustomerForm.controls.email.touched" >Trường này là bắt buộc</p>
      <p *ngIf="editCustomerForm.controls.email.hasError('email') && editCustomerForm.controls.email.touched" >Email không đúng định dạng</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Day of Birth</label>
      <input type="date" class="form-control" formControlName="birthday"/>

    </div>
    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.birthday.hasError('required') && editCustomerForm.controls.birthday.touched" >Trường này là bắt buộc</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Identify</label>
      <input type="text" class="form-control" formControlName="card"/>
    </div>
    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.card.hasError('required') && editCustomerForm.controls.card.touched" >Trường này là bắt buộc</p>
      <p *ngIf="editCustomerForm.controls.card.hasError('pattern') && editCustomerForm.controls.card.touched" >Không đúng định dạng giấy tờ tùy thân</p>
    </div>
    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Contact Phone Number</label>

      <input type="text" class="form-control" formControlName="phone"/>
    </div>

    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.phone.hasError('required') && editCustomerForm.controls.phone.touched" >Trường này là bắt buộc</p>
      <p *ngIf="editCustomerForm.controls.phone.hasError('pattern') && editCustomerForm.controls.phone.touched" >Sai định dạng Số điện thoại</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label">Contact Address</label>
      <input type="text" id="address" class="form-control" formControlName="address"/>
    </div>
    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.address.hasError('required') && editCustomerForm.controls.address.touched" >Trường này là bắt buộc</p>

    </div>
    <div class="form-outline my-2 col-4 mx-auto">
      <select id="gender" class="form-control" formControlName="gender">
        <option value="">--Gender--</option>
        <option value="0">Female</option>
        <option value="1">Male</option>
      </select>
    </div>
    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.gender.hasError('required') && editCustomerForm.controls.gender.touched" >Trường này là bắt buộc</p>

    </div>
    <div class="form-outline my-2 col-4 mx-auto" >
      <select id="typeCustomer"  [compareWith]="compareFn" class="form-control" formControlName="customerType">
        <option value="">--Type Customer--</option>
        <option  [ngValue]="t" *ngFor="let t of type">{{t.name}}</option>
      </select>
    </div>
    <div class="col-4 my-2 mx-auto">
      <p *ngIf="editCustomerForm.controls.customerType.hasError('required') && editCustomerForm.controls.customerType.touched" >Trường này là bắt buộc</p>
    </div>
    <div class="col-4 my-2 mx-auto">
      <input type="submit" id="register" value="Submit Edit" class="btn btn-secondary w-100">
    </div>
  </form>
</div>
