<h4 class="text-center text-black-50 h4">New Service Information Menu</h4>
<form [formGroup]="facilityCreateFG" (ngSubmit)="facilityCreateSubmit()">
  <div class="w-75 mx-auto py-xl-5 ">
    <div class="form-outline my-2">
      <label class="form-label" for="form12">Code</label>
      <input type="text" class="form-control border" formControlName="code" />
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.code.hasError('required') && facilityCreateFG.controls.code.touched" >Trường này là bắt buộc</p>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" for="form12">Tên dịch vụ</label>
      <input type="text" id="form12" class="form-control border" formControlName="name"/>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.name.hasError('required') && facilityCreateFG.controls.name.touched" >Trường này là bắt buộc</p>
      <p *ngIf="facilityCreateFG.controls.name.hasError('pattern') && facilityCreateFG.controls.name.touched" >Tên không được chứa số</p>
    </div>
    <div class="my-2">
      <select class="form-control" formControlName="type">
        <option value="">Loại phòng</option>
        <option value="VIP">Vip</option>
        <option value="STANDARD">Standard</option>
      </select>
    </div>
    <div class="my-2">
      <select class="form-control" formControlName="standard_room">
        <option value="">Loại phòng</option>
        <option value="VIP">Vip</option>
        <option value="STANDARD">Standard</option>
      </select>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.type.hasError('required') && facilityCreateFG.controls.type.touched" >Trường này là bắt buộc</p>
    </div>
    <div class="my-2">
      <select  class="form-control" formControlName="rent_type">
        <option value="">Kiểu thuê</option>
        <option value="DAYS">Ngày</option>
        <option value="HOURS">Giờ</option>
      </select>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.rent_type.hasError('required') && facilityCreateFG.controls.rent_type.touched" >Trường này là bắt buộc</p>
    </div>

    <div class="form-outline my-2">
      <label class="form-label" for="textAreaExample">Mô tả dịch vụ đi kèm</label>
      <textarea class="form-control border" id="textAreaExample" rows="4" formControlName="convenience"></textarea>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.convenience.hasError('required') && facilityCreateFG.controls.convenience.touched" >Trường này là bắt buộc</p>
    </div>

    <div class="form-outline w-50 my-2">
      <label class="form-label" for="form">Giá thuê</label>
      <input type="text" id="form" class="form-control border" formControlName="price"/>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.price.hasError('required') && facilityCreateFG.controls.price.touched" >Trường này là bắt buộc</p>
      <p *ngIf="facilityCreateFG.controls.price.hasError('pattern') && facilityCreateFG.controls.price.touched" >Giá phải là số dương</p>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Diện tích sử dụng</label>
      <input type="text"  class="form-control border"  formControlName="usable"/>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.usable.hasError('required') &&
       facilityCreateFG.controls.usable.touched" >Trường này là bắt buộc</p>
      <p *ngIf="facilityCreateFG.controls.usable.hasError('pattern') &&
       facilityCreateFG.controls.usable.touched" >Diện tích phải là số dương</p>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Số tầng</label>
      <input type="text"  class="form-control border" formControlName="floor"/>

    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.floor.hasError('required') &&
       facilityCreateFG.controls.floor.touched" >Trường này là bắt buộc</p>
      <p *ngIf="facilityCreateFG.controls.floor.hasError('pattern') &&
       facilityCreateFG.controls.floor.touched" >Số tầng phải là số dương</p>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Giới hạn người tối đa</label>
      <input type="text"  class="form-control border" formControlName="capacity"/>
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.capacity.hasError('required') &&
       facilityCreateFG.controls.capacity.touched" >Trường này là bắt buộc</p>
      <p *ngIf="facilityCreateFG.controls.capacity.hasError('pattern') &&
       facilityCreateFG.controls.capacity.touched" >Số lượng người tối đa phải là số dương</p>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Diện tích hồ bơi</label>
      <input type="text"  class="form-control border" formControlName="pool_usable" />
    </div>
    <div>
      <p *ngIf="facilityCreateFG.controls.pool_usable.hasError('required') &&
       facilityCreateFG.controls.pool_usable.touched" >Trường này là bắt buộc</p>
      <p *ngIf="facilityCreateFG.controls.pool_usable.hasError('pattern') &&
       facilityCreateFG.controls.pool_usable.touched" >Diện tích hồ bơi phải là số dương</p>
    </div>
    <div>
      <button class="btn btn-outline-warning mx-2" type="submit">Thêm mới</button>
      <a class="btn btn-outline-danger mx-2" [routerLink]="['/']">Trở lại</a>
    </div>

  </div>

</form>
