<div class="container">
  <h4 class="text-center text-danger my-4 h4 font-weight-normal">New Contract Form</h4>
  <form class="container mx-auto"  [formGroup]="contractCreate" (ngSubmit)="submitContract()">

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" for="name">Start Date</label>
      <input type="date" id="name" class="form-control" formControlName="startDate"/>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="contractCreate.controls.startDate.hasError('required') && contractCreate.controls.startDate.touched" ></p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" for="email">End Date</label>
      <input type="date" id="email" class="form-control" formControlName="endDate"/>

    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="contractCreate.controls.endDate.hasError('required') && contractCreate.controls.endDate.touched" ></p>
    </div>
    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" for="deposit">Deposit</label>
      <input type="text" id="deposit" class="form-control" formControlName="deposit"/>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="contractCreate.controls.deposit.hasError('required') && contractCreate.controls.deposit.touched" ></p>
    </div>
<!--    <div class="form-outline my-2 col-4 mx-auto">-->
<!--      <label class="form-label" for="bill">Tổng tiền</label>-->
<!--      <input type="text" id="bill" class="form-control" placeholder="Tổng tiền tạm tính" />-->
<!--    </div>-->


<!--    <div class="form-outline my-2 col-4 mx-auto">-->
<!--      <select  class="form-select" >-->
<!--        <option value="">&#45;&#45;Tên nhân viên làm hợp đồng&#45;&#45;</option>-->

<!--      </select>-->

<!--    </div>-->
    <div class="form-outline my-2 col-4 mx-auto" >
      <select id="typeCustomer"  class="form-control" formControlName="customer" >
        <option value="">--Customer--</option>
        <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}} - {{customer.card}}
          - {{customer.code}}</option>
      </select>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="contractCreate.controls.deposit.hasError('required') && contractCreate.controls.deposit.touched" ></p>
      <p *ngIf="contractCreate.controls.deposit.hasError('pattern') && contractCreate.controls.deposit.touched" ></p>
    </div>
    <div class="form-outline my-2 col-4 mx-auto" >
      <select id="facilityChange"  class="form-control" formControlName="service" >
        <option value="">--Service--</option>
        <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.name}} -
          {{facility.price}} - {{facility.standard_room}}</option>
      </select>
    </div>

    <div class="my-2 col-4 mx-auto">
      <p *ngIf="contractCreate.controls.deposit.hasError('required') && contractCreate.controls.deposit.touched" ></p>
    </div>

    <div class="col-4 my-2 mx-auto">
      <button type="submit" id="register" class="btn btn-secondary w-100">Create Contract</button>
    </div>
  </form>
</div>
