<div class="container-fluid">
  <!-- Tab content -->

  <h4 class="text-secondary text-center my-2 h3">Danh sách hợp đồng</h4>
  <a [routerLink]="['/contract-create']" class="btn btn-outline-success m-2">Tạo hợp đồng mới</a>
  <!--    <form method="get">-->
  <!--    <div class="row">-->

  <!--        <div class="form-outline my-2 col-3 mx-3">-->
  <!--            <input type="text" id="searchName" class="form-control" value="33333" name="abc"/>-->
  <!--            <label class="form-label" for="searchName">Tìm kiếm theo tên</label>-->
  <!--        </div>-->
  <!--        <div class="form-outline my-2 col-3 me-2">-->
  <!--            <input type="text" id="searchPhone" class="form-control" name="cbd"/>-->
  <!--            <label class="form-label" for="searchPhone">Tìm kiếm theo số điện thoại</label>-->
  <!--        </div>-->
  <!--        <input type="submit" id="searchSubmit" value="tìm kiếm" class="btn btn-secondary col-2 my-2">-->

  <!--    </div>-->
  <!--    </form>-->


  <table class="table table-striped border">
    <thead class="text-center">
    <tr>
      <td>#</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Deposit</td>
      <td>Total Bill</td>
      <td>Customer</td>
      <td>Service</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody id="fetchData">
    <tr >
      <td >0</td>
      <td>12/12/2022</td>
      <td >12/12/2022</td>
      <td >30000</td>
      <td >400000</td>
      <td>Khách hàng B</td>
      <td>Dịch vụ C</td>
      <td >
        <button
          type="button" class="btn btn-detail"
          data-mdb-toggle="modal" data-mdb-target="#exampleModal">Thêm dịch vụ đi kèm
        </button>
        <button type="button" class="btn btn-detail">Chi tiết hợp đồng</button>
        <!--                    <a class="btn btn-danger" th:href="@{/customers/delete/{id}(id=${customer-list.id})}">Delete</a>-->
      </td>
    </tr>
    <tr *ngFor="let contract of contracts">
      <td >{{contract.id}}</td>
      <td>{{contract.startDate}}</td>
      <td >{{contract.endDate}}</td>
      <td >{{contract.deposit}}</td>
      <td >{{contract.service.price - contract.deposit}}</td>
      <td><span>{{contract.customer.name}}</span></td>
      <td><span>{{contract.service.name}}</span></td>
      <td >
        <button
          type="button" class="btn btn-outline-info mx-2"
          data-mdb-toggle="modal" data-mdb-target="#exampleModal">Thêm dịch vụ đi kèm
        </button>
        <button type="button" class="btn btn-outline-danger mx-2" data-toggle="modal" data-target="#exampleModal">Chi tiết hợp đồng</button>
        <!--                    <a class="btn btn-danger" th:href="@{/customers/delete/{id}(id=${customer-list.id})}">Delete</a>-->
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<!-- Modal -->

<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
