<div class="container">
  <h4 class="text-center text-dark my-4 h5">Thông tin khách hàng thành viên</h4>
  <form class="container mx-auto" [formGroup]="customerFormGroup" (ngSubmit)="onCustomerSubmit()">
    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" for="code">Mã khách hàng</label>
      <input type="text" id="code" class="form-control" formControlName="code"/>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.code.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
      <p *ngIf="customerFormGroup.controls.code.hasError('pattern') && customerFormGroup.controls.code.touched" >Mã khách hàng sai định dạng</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label">Tên khách hàng</label>
      <input type="text"  class="form-control" formControlName="name"/>
    </div>

    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.name.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
      <p *ngIf="customerFormGroup.controls.name.hasError('pattern') && customerFormGroup.controls.code.touched" >Tên khách hàng sai định dạng</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Email khách hàng</label>
      <input type="text" class="form-control" formControlName="email"/>
    </div>

    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.email.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
      <p *ngIf="customerFormGroup.controls.email.hasError('email') && customerFormGroup.controls.code.touched" >Email không đúng định dạng</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Ngày tháng năm sinh</label>
      <input type="date" class="form-control" formControlName="dayOfBirth"/>

    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.dayOfBirth.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Số chứng minh thư</label>
      <input type="text" class="form-control" formControlName="identify"/>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.identify.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
      <p *ngIf="customerFormGroup.controls.identify.hasError('pattern') && customerFormGroup.controls.code.touched" >Không đúng định dạng giấy tờ tùy thân</p>
    </div>
    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label" >Số điện thoại liên hệ</label>

      <input type="text" class="form-control" formControlName="phoneNumber"/>
    </div>

    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.phoneNumber.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
      <p *ngIf="customerFormGroup.controls.phoneNumber.hasError('pattern') && customerFormGroup.controls.code.touched" >Sai định dạng Số điện thoại</p>
    </div>

    <div class="form-outline my-2 col-4 mx-auto">
      <label class="form-label">Địa chỉ liên hệ</label>
      <input type="text" id="address" class="form-control" formControlName="address"/>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.address.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>

    </div>
    <div class="form-outline my-2 col-4 mx-auto">
      <select id="gender" class="form-control" formControlName="gender">
        <option value="">--Giới tính--</option>
        <option value="0">Nữ</option>
        <option value="1">Nam</option>
      </select>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.gender.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>

    </div>
    <div class="form-outline my-2 col-4 mx-auto" >
      <select id="typeCustomer"  class="form-control" formControlName="type">
        <option value="">--Loại khách hàng--</option>
      </select>
    </div>
    <div class="my-2 col-4 mx-auto">
      <p *ngIf="customerFormGroup.controls.type.hasError('required') && customerFormGroup.controls.code.touched" >Trường này là bắt buộc</p>
    </div>
    <div class="col-4 my-2 mx-auto">
      <input type="submit" id="register" value="Đăng ký hội viên" class="btn btn-outline-secondary w-100">
    </div>
  </form>
</div>
