<h4 class="text-center text-black-50">Màn hình thêm mới dịch vụ</h4>
<form action="">
  <div class="w-75 mx-auto py-xl-5 ">
    <div class="form-outline my-2">
      <label class="form-label" for="form12">Tên dịch vụ</label>
      <input type="text" id="form12" class="form-control border" />
    </div>
    <div class="my-2">
      <select name="" id="" class="form-select">
        <option value="1">Loại dịch vụ</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>

    <div class="form-outline my-2">
      <label class="form-label" for="textAreaExample">Mô tả</label>
      <textarea class="form-control border" id="textAreaExample" rows="4"></textarea>

    </div>

    <div class="form-outline w-25 my-2">
      <label class="form-label" for="form">Ngày tạo mới</label>
      <input type="date" id="form" class="form-control border" />
    </div>
    <div class="form-outline my-2">
      <label class="form-label" for="form16">Example label</label>
      <input type="text" id="form16" class="form-control border" data-mdb-showcounter="true" maxlength="20" />
      <div class="form-helper"></div>
    </div>
    <div>
      <input type="submit" value="Thêm mới">
      <a href="#">Trở lại</a>
    </div>

  </div>

</form>
