<h4 class="text-center text-black-50 h4">Màn hình thêm mới dịch vụ</h4>
<form [formGroup]="facilityCreateFG" (ngSubmit)="facilityCreateSubmit()">
  <div class="w-75 mx-auto py-xl-5 ">
    <div class="form-outline my-2">
      <label class="form-label" for="form12">Mã dịch vụ</label>
      <input type="text" class="form-control border" formControlName="code" />
    </div>
    <div class="form-outline my-2">
      <label class="form-label" for="form12">Tên dịch vụ</label>
      <input type="text" id="form12" class="form-control border" formControlName="name"/>
    </div>
    <div class="my-2">
      <select name="" id="" class="form-control" formControlName="type">
        <option value="1">Loại phòng</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
    <div class="my-2">
      <select name=""  class="form-control" formControlName="rent_type">
        <option value="1">Kiểu thuê</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>

    <div class="form-outline my-2">
      <label class="form-label" for="textAreaExample">Mô tả dịch vụ đi kèm</label>
      <textarea class="form-control border" id="textAreaExample" rows="4" formControlName="convenience"></textarea>

    </div>

    <div class="form-outline w-50 my-2">
      <label class="form-label" for="form">Giá thuê</label>
      <input type="text" id="form" class="form-control border" formControlName="price"/>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Diện tích sử dụng</label>
      <input type="text"  class="form-control border" data-mdb-showcounter="true" maxlength="20" formControlName="usable"/>
      <div class="form-helper"></div>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Số tầng</label>
      <input type="text"  class="form-control border" data-mdb-showcounter="true" maxlength="20" formControlName="floor"/>
      <div class="form-helper"></div>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Giới hạn người tối đa</label>
      <input type="text"  class="form-control border" data-mdb-showcounter="true" maxlength="20" formControlName="capacity"/>
      <div class="form-helper"></div>
    </div>
    <div class="form-outline my-2">
      <label class="form-label" >Diện tích hồ bơi</label>
      <input type="text"  class="form-control border" data-mdb-showcounter="true" maxlength="20" formControlName="pool_usable" />
      <div class="form-helper"></div>
    </div>
    <div>
      <input class="btn btn-outline-warning mx-2" type="submit" value="Thêm mới">
      <a class="btn btn-outline-danger mx-2" [routerLink]="['/']">Trở lại</a>
    </div>

  </div>

</form>
